.task-form {
  display: flex;
  flex-direction: column;
}

.form-inputs {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 16px;
  padding: 0 0 20px;
  align-items: center;
}

@media (max-width: 480px) {
  .form-inputs {
    grid-template-columns: 1fr;
    align-items: stretch;
  }
}